
@font-face{
    src: url('./fonts/source-sans-pro/SourceSansPro-Light.ttf');
    font-family: SourceSansPro-Light;
}
@font-face {
    font-family: SourceSansPro-Black;
    src: url('./fonts/source-sans-pro/SourceSansPro-Black.ttf');
}
@font-face {
    font-family: SourceSansPro-Regular;
    src: url(./fonts/source-sans-pro/SourceSansPro-Regular.ttf);
}
@font-face {
    src: url('./fonts/source-sans-pro/Source_Code_Pro/static/SourceCodePro-Regular.ttf');
    font-family: SourceCodePro-Regular;
}
.page{
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}
.bl{
    color: #303030;
    font-family: Roboto;
    margin-top: 0;
}
.first{
    display: flex;
}
.hr{
    width: 50px;
    font-size: x-large;
}
.hero-image{
    width: 350px;
    border: 0;
    z-index: 100;
    margin-left: 40px;
    margin-top: 100px;
    height: 360px;
    
}
.hero{
    display: flex;
    align-items: center;
    margin: 0% 25%;
}
.hero-page{
    position: relative;
}
.texts-beside-the-image{
    position: absolute;
    padding-left: 5px;
    padding-top: 40px;
}
.heading-3{
    background: #14CFAE;
    height:60px;
    width: 270px;
    padding-left: 370px;
    padding-top: 10px;
    margin-top: 8px;
    color: #1C4B43;
    letter-spacing: 3.77px;
    font-family: SourceSansPro-Regular;
    font-size: 30px;  
}
.hi-and-lens{
    padding-left: 370px;
}
.big-lens{
    font-family: SourceSansPro-Black; 
    font-size: 72px;
    padding-bottom: 20px;
    margin-top: 0;
    margin-bottom: 0;
    color: #303030;
    height: 65px
}
.Hi{
    font-size: 72px;
    margin-bottom: 0;
    font-family: SourceSansPro-Light;
    height: 75px
}
.Design-development{
    display: flex;
    /*border: 1px solid black;
    width:*/
}
.background{
    z-index: 100;
    width: 100%;;
    opacity: 100;
    opacity: 0.1;
    background-size: cover;
    
}
.section-1{
    position: relative;
    margin-top: 80px;
}
.sec{
    position: absolute;
}
.texts{
    padding: 5% 10%;
    background: hsla(0, 0%, 10%, 1);
}
.what-i-do{
    text-align: center;
    margin-bottom: 0;
}
.size{
    font-size: 60px;
    font-family: SourceSansPro-Black;
    color:#14CFAE;
    margin-bottom: 5px;
    
}
.design{
    font-size: 24px;
    font-family: SourceSansPro-Regular;
    color: #FFFFFF;
    text-align: center;
}
.lorem{
    font-size: 18px;
    color: hsla(0, 0%, 100%, 1);
    font-family: SourceSansPro-Light;
    padding: 15px;
    text-align: center;

}
.see-my-work{
    font-size: 16px;
    background: #14CFAE;
    width: 201px;
    height: 32px;
    font-family: SourceSansPro-Black;
    padding-top: 10px;
    margin: 0 auto;
    margin-top: 10px;
    opacity: 1;
}
.flex-parent{
    border: 1px solid orange;
}
.section-2{
    display: flex;
    justify-content: center;
    margin-top: 120px;
}
.designer-developer{
    background: #14CFAE;
    font-size: 24px;
    font-family: SourceCodePro-Regular;
    color: #303030;
    margin-top: 0;
    margin-bottom: 0;
    height: 31px;
    width: 900px;
    padding: 20px;
    padding-left: 40px;
}
.who-i-am{
    font-size: 60px;
    font-family: SourceSansPro-Black; 
    margin-bottom: 0;
    height: 85px;
    margin-top: 0;
    padding-left: 40px;
}
.dolor{
    font-size: 18px;
    color: #303030;
    width: 556.9px;
    font-family: SourceSansPro-Light;
    padding-left: 40px;
}
.Nico{
    width: 244px;
    height: 406px;
    position: relative;
    margin-left: 600px;
}
.beside{
    position: absolute;
    padding-bottom: 20px;
}
.section-3{
    background: #303030;
    text-align: center;
    height: 950px;
    padding-top: 70px;
    margin-top: 150px;
    margin-bottom: 0;
}
.my-work{
    font-size: 60px;
    color: #FFFFFF;
    font-family: SourceSansPro-Black;
    margin-bottom: 0;
}
.range{
    font-size: 24px;
    color: #16E0BD;
    font-family: SourceSansPro-Black;
    margin-top: 8px;
}
.imagess{
    padding-top: 30px;
    margin-bottom: 0;
}
.footer{
    display: flex;
    font-size: 24px;
    color: #16E0BD;
    font-family: SourceSansPro-Black;
    background: #141414;
    height: 270px;
    margin-top: 0;
    justify-content: center;
    align-items: center;
}
.adejoe{
    margin-top: 0;
}
.icons{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

@media screen and (max-width: 500px) {
    .parent {
        
    }
}